# Impex Japan API Key
# Obtener en: https://en.impex-jp.com/user/profile/api-keys.html
IMPEX_API_KEY=

# Banco Central de Chile — API de tipo de cambio.
# Registro gratuito: https://si3.bcentral.cl/estadisticas/Principal1/Web/BancoCentralAboutNosotros/registroUsuariosBCCH/index.php
BCENTRAL_USER=
BCENTRAL_PASS=
BCENTRAL_SERIES_JPY=F072.CLP.JPY.N.O.D

# Fórmula de negocio: precio_JPY x tipo_cambio_CLP x mult_1 x mult_2
FORMULA_MULTIPLICADOR_1=1.1
FORMULA_MULTIPLICADOR_2=2
